<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1></h1>
    <p>Welcome to espress form</p>
    <form action="/users/post" method="post">
      <label for="text">Say</label>
          <input class="text" type="text" name="result">
        <input type="submit">
    </form>
    <h2>Result <%= Result %></h2>
  </body>
</html>
