<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
  </head>
  <body>
    <h1>Welcome to <%= title %></h1>
    <br />
    <form>
      <input type="text" name="say">
      <input type="submit" value="Submit">
    </form>

    <h4>Your answer :    </h4>
    <p><%= answer %><p>

    <h4>Result :     </h4>
    <p><%= result %><p>


  </body>
</html>
