
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <br />
    <form>
      Input Here :<br>
      <input type="text" name="input">
      <input type="submit" value="Submit">
    </form>

    <p><%= result %><p>


  </body>
</html>
